@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Vendor Details: @Model["vendor"].Details </h1>

  <h2>Vendor: @Model["vendor"].Name</h2>

  <h3>@Model["order"].Title</h3>
  <h6>@Model["order"].Description</h6>
  <h5>$@Model["order"].Price</h5>
  <h5>Date Ordered: @Model["order"].Date.Year/@Model["order"].Date.Month/@Model["order"].Date.Day</h5>


  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
  <a href='/vendors'>View all vendors</a>
</div>



